<app-header />
<app-search />

<!-- Seccion 1 -->

<div class="px-4 py-5 my-5 text-center">
  <img
    width="100"
    height="100"
    src="https://img.icons8.com/clouds/100/fire-element.png"
    alt="fire-element"
  />
  <h1 class="display-5 fw-bold text-body-emphasis">Libros con Envío Express</h1>
  <div class="card-container">
    <div class="card">
      <img
        width="50"
        height="50"
        src="https://img.icons8.com/ios/50/orthodox-cross.png"
        alt="orthodox-cross"
      />
      <div class="card-body">
        <p class="card-text">Espiritualidad y Auto Ayuda</p>
      </div>
    </div>
    <div class="card">
      <img
        width="40"
        height="40"
        src="https://img.icons8.com/dusk/64/children.png"
        alt="children"
      />
      <div class="card-body">
        <p class="card-text">Niños de 1 a 5 Años</p>
      </div>
    </div>
    <div class="card">
      <img
        width="60"
        height="60"
        src="https://img.icons8.com/papercut/60/children.png"
        alt="children"
      />
      <div class="card-body">
        <p class="card-text">Niños de 6 a 10 Años</p>
      </div>
    </div>
    <div class="card">
      <img
        width="48"
        height="48"
        src="https://img.icons8.com/color/48/juvenile.png"
        alt="juvenile"
      />
      <div class="card-body">
        <p class="card-text">Literatura Juvenil</p>
      </div>
    </div>
    <div class="card">
      <img
        width="100"
        height="100"
        src="https://img.icons8.com/keek/100/romantic-place.png"
        alt="romantic-place"
      />
      <div class="card-body">
        <p class="card-text">Literatura romantica y erotica</p>
      </div>
    </div>
    <div class="card">
      <img
        width="48"
        height="48"
        src="https://img.icons8.com/color/48/uefa-euro-trophy.png"
        alt="uefa-euro-trophy"
      />
      <div class="card-body">
        <p class="card-text">Best Sellers No Ficcion</p>
      </div>
    </div>
    <div class="card">
      <img
        width="48"
        height="48"
        src="https://img.icons8.com/emoji/48/currency-exchange-emoji.png"
        alt="currency-exchange-emoji"
      />
      <div class="card-body">
        <p class="card-text">Finanzas y Economia</p>
      </div>
    </div>
    <div class="card">
      <img
        width="94"
        height="94"
        src="https://img.icons8.com/3d-fluency/94/books.png"
        alt="books"
      />
      <div class="card-body">
        <p class="card-text">Biografias</p>
      </div>
    </div>
    <div class="card">
      <img
        width="48"
        height="48"
        src="https://img.icons8.com/color/48/kitchen-room.png"
        alt="kitchen-room"
      />
      <div class="card-body">
        <p class="card-text">Cocina y Alimentacion</p>
      </div>
    </div>
    <div class="card">
      <img
        width="50"
        height="50"
        src="https://img.icons8.com/ios/50/policy-document.png"
        alt="policy-document"
      />
      <div class="card-body">
        <p class="card-text">Actudalidad y Politica</p>
      </div>
    </div>
    <div class="card">
      <img
        width="64"
        height="64"
        src="https://img.icons8.com/external-becris-lineal-color-becris/64/external-humor-literary-genres-becris-lineal-color-becris.png"
        alt="external-humor-literary-genres-becris-lineal-color-becris"
      />
      <div class="card-body">
        <p class="card-text">Ocio y Humor</p>
      </div>
    </div>
    <div class="card">
      <img
        width="64"
        height="64"
        src="https://img.icons8.com/external-inipagistudio-lineal-color-inipagistudio/64/external-express-postal-service-inipagistudio-lineal-color-inipagistudio.png"
        alt="external-express-postal-service-inipagistudio-lineal-color-inipagistudio"
      />
      <div class="card-body">
        <p class="card-text">Grandes Descuentos</p>
      </div>
    </div>
    <div class="card">
      <img
        width="64"
        height="64"
        src="https://img.icons8.com/nolan/64/castle.png"
        alt="castle"
      />
      <div class="card-body">
        <p class="card-text">Ver todos</p>
      </div>
    </div>
  </div>
</div>

<!-- seccion 2 -->

<div class="px-4 py-5 my-5 text-center">
  <img width="64" height="64" src="https://img.icons8.com/pieces/64/hardcore.png" alt="hardcore"/>
  <h1 class="display-5 fw-bold text-body-emphasis">Libros Top de: Nombre de Ecommerce</h1>
</div>