<div class="header">
  <div class="navbar">
    <div class="search" title="Search">
      <div class="box">
        <input
          type="text"
          id="searchInput"
          class="search-input"
          placeholder="Search..."
        />
        <a href="" id="searchIcon">
          <img
            class="fas"
            width="40"
            height="40"
            src="https://img.icons8.com/fluency/48/search-more.png"
            alt="search-more"
          />
        </a>
      </div>
      <ul class="nav-items">
        <li>
          <a href="">
            <img
              width="100"
              height="100"
              src="https://img.icons8.com/clouds/100/shopping-cart.png"
              alt="shopping-cart"
            />
            <span class="text-carrito">Carrito de Compras</span>
          </a>
        </li>
        <li>
          <a href="">
            <img
              width="100"
              height="100"
              src="https://img.icons8.com/clouds/100/login-rounded-right.png"
              alt="login-rounded-right"
            />
            <span class="text-registrarse">Iniciar Sesion</span>
          </a>
        </li>
        <li>
          <a href="">
            <img
              width="64"
              height="64"
              src="https://img.icons8.com/arcade/64/signing-a-document.png"
              alt="signing-a-document"
            />
            <span class="text-registrarse">Registrarse</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
